body {
  font-family: "helvetica", "Helvetica Neue", Arial !important;
}
.custom-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #1fc7a7;
  border-radius: 4px;
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #545454;
  font-family: Arial;
}
form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #2C3E50;
  color: #fff;
}
form button:active{
  border:0;
}
.editInput {
  float: right;
  width: 60%;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
}
.editItem {
  float: right;
}
.icon {
  width: 3.5em;
  height: 3.5em;
}
.current-user {

}
.button {
  background-color: #ffffff;
  border: 2px solid #2c3e50;
  border-radius: 4px;
  color: #2c3e50;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button img {
  width: 1.5em;
  margin-right: 12px;
}

.button:hover {
  background-color: #8e8e8e;
  color: white;
}
/*  Graphs and stuff for info */
